<div class="section-header text-center">
  <img class="page-banner" src="{{'Warranty_Returns-Desk_1801-007.png' | asset_img_url: '1440x289' }}" />
  <h1>{{ page.title }}</h1>
</div>
<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
      <h2>Our Policies</h2>
      <div class="accordion-container">
        <div class="accordion__item">
          <div class="accordion__item__header">
            <h3 class="accordion">30 Day Money Back Guarantee</h3>
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="panel">
            <p>Annex Products are proud to offer a 30 Day Money Back Guarantee return policy on all purchases. If you purchase a product and don't like it, you have 30 days to arrange a return. Customers wishing to exercise their 30 Day Money Back Guarantee need to contact our Customer Support Team with their order number. Shipping costs are not refundable.</p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__item__header">
            <h3 class="accordion">Return Policy</h3>
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="panel">
            <p>Duis molestie, nunc et bibendum lobortis, nibh purus euismod turpis, in venenatis lorem nulla quis tellus. Mauris hendrerit sollicitudin augue, in dictum est volutpat a. Nulla eu mauris vestibulum, sodales mauris ac, vehicula sem. Suspendisse potenti. Sed orci dolor, interdum sit amet mauris ac, bibendum ultrices arcu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam gravida purus eu neque finibus feugiat. Morbi ornare nisi vel magna eleifend, non vulputate ligula ornare. Duis facilisis viverra tellus.</p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__item__header">
            <h3 class="accordion">Warranty</h3>
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="panel">
            <p>Phasellus vulputate accumsan purus, nec fermentum enim molestie vel. Donec vulputate justo eget efficitur posuere. Praesent vitae dictum orci. Nam eu ex neque. Aliquam erat volutpat. Mauris et orci lacus. Nulla aliquet mollis lorem a tristique. Phasellus vitae lacus non nisi fringilla tincidunt.</p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__item__header">
            <h3 class="accordion">Exclusions and Limitations</h3>
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="panel">
            <p>Quisque quis elementum nibh. Integer odio justo, ullamcorper sed ultrices non, condimentum eget enim. Aenean nec odio libero. Nunc viverra tellus a enim rhoncus, eu bibendum sapien aliquet. Phasellus in mattis augue. Etiam sit amet urna tincidunt, tincidunt justo et, volutpat velit. Sed nec volutpat neque, nec interdum dui. Proin sollicitudin cursus quam, eu molestie augue pellentesque pretium. Ut maximus arcu vitae ex tincidunt, et blandit tortor hendrerit. Aliquam feugiat leo ut dolor tristique, a tempus tellus molestie. Quisque justo neque, pretium a luctus non, imperdiet sit amet orci. Proin vitae lobortis dui, a dictum arcu.</p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__item__header">
            <h3 class="accordion">No Other Warranties</h3>
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="panel">
            <p>Aliquam fermentum congue metus. Vivamus ipsum tellus, semper quis justo nec, iaculis malesuada magna. Curabitur quis est ac nulla eleifend iaculis at vehicula risus. Praesent varius lorem ligula, sed euismod augue dictum ac. Donec fermentum dignissim ultricies. In egestas pellentesque tortor, et laoreet dolor pellentesque a. Ut dictum augue et turpis varius, vitae maximus justo congue. Curabitur lacinia massa ligula, at malesuada eros suscipit ut. Pellentesque non ipsum a orci lacinia convallis. Vivamus id quam tempus, cursus erat id, consequat nisl. Duis fermentum quam velit, vel pulvinar nulla pretium pretium. Nunc ac justo condimentum, ornare metus nec, hendrerit felis.</p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__item__header">
            <h3 class="accordion">Consumer Protection</h3>
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin molestie efficitur scelerisque. Nulla aliquam quam massa, eget dapibus libero consectetur vel. Mauris non lacus sit amet turpis dignissim rutrum ac nec enim. Maecenas ultrices nisl at urna laoreet malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean molestie quam felis, non fringilla mi hendrerit quis. Morbi porttitor convallis risus, placerat condimentum tellus tristique quis. Vestibulum iaculis tellus eget quam dignissim, a eleifend nisi placerat. Fusce placerat erat neque, eu vulputate elit egestas eget. Duis euismod elementum rhoncus. Proin pulvinar volutpat neque ut lobortis. Proin ligula risus, venenatis in dignissim ac, consectetur eget est. Praesent sed suscipit diam, auctor fermentum risus. Nulla facilisi. Cras tincidunt, eros vitae dictum interdum, quam velit tincidunt turpis, tempor pellentesque nisi neque ut leo. Nulla erat lacus, efficitur a malesuada a, congue a lacus.</p>
          </div>
        </div>

        <div class="accordion__item">
          <div class="accordion__item__header">
            <h3 class="accordion">Obtaining Warranty Service</h3>
            <i class="fa fa-caret-up"></i>
            <i class="fa fa-caret-down"></i>
          </div>
          <div class="panel">
            <p>Vestibulum ut fermentum sem, at sodales metus. Integer feugiat pretium sapien bibendum elementum. Sed at turpis urna. Nullam leo erat, blandit eu commodo ac, blandit in massa. Donec in tristique ligula. Maecenas commodo sed diam id bibendum. Quisque porta rhoncus sapien, vitae posuere arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer elementum ante at dignissim consectetur. Proin nec vulputate erat. Morbi non leo aliquam, scelerisque eros ac, tristique nisl. Vestibulum non neque non nibh hendrerit tempor. Nulla non turpis vitae mauris venenatis sodales.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
